<div class="projects">
  <h1>Projects</h1>
  <h3>Clients Project - Service Cloud Implementation | Salesforce</h3>
  <ul>
    <li>
      Automated case assignment, prioritization, and escalation using Flow
      Builder, reducing manual intervention and ensuring SLA adherence.
    </li>
    <li>
      Integrated Service Cloud with Jira and Confluence for automatic case
      creation and enhanced cross-functional collaboration.
    </li>
    <li>
      Customized the Service Console with dynamic layouts and macros, reducing
      case handling time by 30% and improving agent efficiency.
    </li>
    <li>
      Developed Apex triggers and classes to streamline case management and
      enhance Service Cloud workflows.
    </li>
  </ul>
  <h3>Clients Project - Quality Management System - CAPA | Salesforce</h3>
  <ul>
    <li>
      Delivered an end-to-end CAPA solution for a semiconductor company using
      Salesforce, improving regulatory compliance and boosting productivity
      through dynamic workflows and automated notifications.
    </li>
    <li>
      Built advanced LWCs, including a custom file uploader and zip-downloader,
      to streamline file handling and enhance operational efficiency
    </li>
    <li>
      Configured workflows to classify CAPA actions dynamically, optimizing
      decision-making and issue resolution.
    </li>
    <li>
      Customized Salesforce interfaces with tailored record types, actions, and
      layouts to improve usability and adaptability for business needs.
    </li>
  </ul>
</div>

<div class="certifications">
  <h1>Certifications</h1>
  <ul>
    <li>Salesforce Certified Administrator</li>
    <li>Salesforce Certified AI Associate</li>
    <li>Salesforce Certified Service Cloud Consultant</li>
    <li>Salesforce Certified Data Cloud Consultant</li>
  </ul>
</div>