<div class="experience">
  <h1>Experience</h1>
  <h3>Associate Software Engineer</h3>
  <h4>Rialtes Technologies LLC | January 2024</h4>
  <ul>
    <li>
      Certified Salesforce Administrator with expertise in configuring custom
      objects, automation, validation rules, and dynamic dashboards to meet
      business needs.
    </li>
    <li>
      Automated key business processes by developing complex Flows, reusable
      LWCs, and scalable Apex solutions, enhancing operational efficiency and
      user experience.
    </li>
    <li>
      Migrated legacy data using Data Loader, ensuring precise mapping, and
      integrated Salesforce with external systems via REST and SOAP APIs.
    </li>
    <li>
      Optimized Page Layouts, Lightning Record Pages, and Component Visibility
      while implementing secure role-based access with Profiles, Permission
      Sets, and Role Hierarchies.
    </li>
  </ul>
</div>

<div class="achievements">
  <h1>Achievements</h1>
  <ul>
    <li>
      Completed 100+ badges, 4+ superbadges and 10 trails, scoring almost 90,000
      Points and demonstrating a deep understanding of Salesforce technologies
      and best practices.
    </li>
    <li>
      Earned NPTEL certification in Database Management Systems (DBMS),
      demonstrating expertise in database concepts and applications.
    </li>
    <li>
      Participated in National Hackathon 2.0, contributing innovative solutions
      and collaborating with diverse teams on real-world challenges.
    </li>
  </ul>
</div>
