<section>
  <div class="about-me">
    <h1>About me</h1>
    <p>
      <b>Hi, I’m Pranjali Sharma!</b> A passionate Salesforce professional with
      a knack for problem-solving and process automation. With a B.Tech in
      Computer Science and hands-on experience as an Associate Software Engineer
      at Rialtes Technologies, I specialize in crafting scalable solutions using
      <b>Salesforce, Apex, and Lightning Web Components (LWCs)</b>. From
      optimizing workflows and integrating systems to
      <b>earning multiple Salesforce certifications</b>, I thrive on delivering
      impactful results. Outside of work, I enjoy tackling challenges, exploring
      data insights, and collaborating to create innovative solutions. Let's
      build something amazing together!
    </p>
  </div>

  <div class="education">
    <h1>Education</h1>
    <p>
      <b>B.Tech - Computer Science and Engineering</b> - College of Engineering
      Roorkee (COER) - 2020 to 2024 - Percentage: 80.3%
    </p>
    <p>
      <b>Senior Secondary Education</b> - MG Public School - 2019 to 2020 -
      Percentage: 91.6%
    </p>
  </div>

  <div
    class="skills"
    style="
      background-color: #f4f4f9;
      border-radius: 50px;
      padding: 30px;
      margin: 30px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    "
  >
    <h1 style="color: black; font-family: 'Arial', sans-serif">Skills</h1>
    <p
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 15px;
        list-style-type: none;
        padding: 0;
      "
    >
      <li>SQL</li>
      <li>C/C++</li>
      <li>Python</li>
      <li>Apex</li>
      <li>LWC</li>
      <li>Salesforce</li>
      <li>Excel</li>
      <li>PowerPoint</li>
      <li>Power BI</li>
      <li>Tableau</li>
    </p>
  </div>
</section>
