<div class="container w-full h-full">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-5 p-3 d-flex justify-content-center align-items-center m-5">
      <div class="container-fluid">
        <!-- Profile Photo or Logo -->
        <a class="navbar-brand" href="/">
          <img
            src="../assets/images/Screenshot 2025-01-03 144521.png"
            alt="profile-photo"
            style="border-radius: 50%; width: 100px"
          />
        </a>

        <!-- Toggle Button for Collapsible Menu -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/journey">Journey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/accomplishments">Accomplishments</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="main d-flex justify-content-center align-items-center m-5 p-3">
    <router-outlet></router-outlet>
  </main>

  <footer
    class="d-flex flex-column justify-content-center align-items-center m-5 rounded-5 p-4 footer"
  >
    <div class="contact d-flex gap-2 flex-column align-items-center">
      <h1>Contact</h1>
      <div class="contacts d-flex gap-5">
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/pranjali-sharma-81918724a/"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a target="_blank" href="mailto:pranjalisharma2312@gmail.com"
            ><i class="fa-solid fa-envelope"></i
          ></a>
        </li>
      </div>
    </div>
    <p>© 2024 My Portfolio - All Rights Reserved</p>
  </footer>
</div>
